$backgroundColor: #E9DAC1;
$primaryColor: #54BAB9;
$secondaryColor: #9ED2C6;
$textColor: #000;

$backgroundColorDark: #2B4865;
$primaryColorDark: #256D85;
$secondaryColorDark: #8FE3CF;
$textColorDark: #FFF;