@import "../assets/global.scss", "../assets/variables.scss";

.footer {
    height: 35vh;
    width: 100vw;
    background-color: $backgroundColorDark;
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
    gap: 1.5rem;
    padding: 0 5vw;
    color: $textColorDark;
    font-size: 1rem;
    font-weight: 300;

    a {
        color: $primaryColorDark;
        font-size: 1.3rem;
    }
}