@import '../assets/global.scss';
@import '../assets/variables.scss';

.skills {
    height: 100vh;
    width: 100vw;
    background-color: $backgroundColorDark;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    place-content: center;
    color: $textColorDark;

    .skill-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .two-collumns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 2rem;
    }

    ul {
        align-self: center;
        list-style: none;

    li {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 0.5rem;
        font-weight: 300;
        font-size: 1.2rem;

        .icon {
            font-size: 1.6rem;
            color: $secondaryColorDark;
        }
    }
    }
    }
}