:root {
    --primary-color: #6096B4;
    --secondary-color: #93BFCF;
    --tertiary-color: #BDCDD6;
    --background-color: #EEE9DA;
    --primary-color-dark: ;
    --secondary-color-dark: ;
    --tertiary-color-dark: ;
    --background-color-dark: ;
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "arial", sans-serif;
}
header, main{
    font-size: 1.1rem;
}
.title-reveal, .reveal {
    visibility: hidden;
}
/*MENU*/
nav {
    display: flex;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav #menu {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}
nav #menu #menu-items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav #menu #menu-items li a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
}
nav #menu #menu-items li a:after{
    content: "";
    display: flex;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: 0.5s;
}
nav #menu #menu-items li a:hover:after{
    width: 100%;
}
nav #menu #burger {
    display: none;
}
/*FIM MENU*/
main{
    background-color: var(--background-color);
}
section{
    padding-top: 15vh;
    min-height: 90vh;
    overflow-x: hidden;
}
h1, h2{
    padding: 0 0 2rem 2.5rem;
    font-size: 1.25rem;
}
#about{
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    hyphens: auto;
    text-indent: 2rem;
}
.carrossel{
    z-index: 0 !important;
    top: 2vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.item {
    margin: auto;
    width: 50vw !important;
}
.item img{
    height: 20vh !important;
    width: auto !important;
}
#photo{
    height: 30vh;
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem 0;
    overflow: hidden;
}
#photo img{
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
/*ÍCONES HABILIDADE*/
#skill-icons{
    list-style: none;
    height: 15vh;
    display: flex;
    width: max-content;
    gap: 5rem;
    margin: auto;
    align-items: center;
}
#skill-icons li i{
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 3rem;
    gap: 1rem;
}
/*FIM ÍCONES HABILIDADE*/
/*ÍCONES CONTATO*/
#contact-icons{
    list-style: none;
    height: 15vh;
    display: flex;
    width: max-content;
    gap: 5rem;
    margin: auto;
    align-items: center;
}
#contact-icons li a{
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 3rem;
    gap: 1rem;
}
#contact-icons li a:hover{
    color: var(--tertiary-color);
    transition: 0.3s;
}

/*FIM ÍCONES CONTATO*/
footer{
    padding: 1.2rem 1.2rem;
    text-align: center;
    font-size: 1rem;
    background-color: var(--tertiary-color);
    color: #000;
}
/*RESPONSIVIDADE*/
@media (max-width: 1023px){
    h1, h2{
        padding-left: 0;
        text-align: center;
    }

    nav #menu {
        justify-content: flex-end;
    }
    nav #menu #menu-items {
        position: fixed;
        display: grid;
        left: 0;
        top: 10vh;
        height: 0px;
        width: 100vw;
        background-color: var(--primary-color);
        text-align: center;
        align-items: center;
        transition: 0.5s;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
    }
    nav #menu #menu-items.show-menu {
        height: 35vh;
        visibility: visible;
    }
    nav #menu #burger {
        display: block;
        width: 30px;
        margin-right: 1rem;
    }
    nav #menu #burger div,
    nav #menu #burger:after,
    nav #menu #burger:before {
        background: #fff;
        content: "";
        display: block;
        height: 4px;
        border-radius: 2px;
        margin: 5px 0;
        transition: 0.5s;
    }
    nav #menu #burger.hide:before {
        transform: translateY(8.7px) rotate(135deg);
    }
    nav #menu #burger.hide:after {
        transform: translateY(-8.7px) rotate(-135deg);
    }
    nav #menu #burger.hide div {
        transform: scale(0);
    }
    #lista-icones{
        height: auto;
        gap: 1.5rem;
        
    }
    .icones{
        font-size: 2.5rem;
    }
    .icones span{
        font-size: 1.3rem;
    }

}
/*DISPOSITIVOS IOS*/
@supports (-webkit-touch-callout: none){
    nav #logo {
        width: 16.6vh;
    }
    #texto-historia{
        -webkit-hyphens: auto;
    }
}